<!doctype html>
<html>
    <head>
        <title>Feed Directory - v0.1</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bulma.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/fontawesome.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/solid.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/brands.min.css') }}">
    </head>
    <body>
      <nav class="breadcrumb is-medium" aria-label="breadcrumbs">
        <ul>
          <li><a href="/"><span class="icon"><i class="fas fa-home"></i></span>Home</a></li>
          <li><a href="/submit/opml"><span class="icon"><i class="fas fa-file-upload"></i></span>OPML</a></li>
          <li><a href="/submit/url"><span class="icon"><i class="fas fa-cloud-upload-alt"></i></span>URL</a></li>
        </ul>
      </nav>
      <div class="columns is-centered">
        <div class="column is-two-thirds">
          {% block content %}{% endblock %}
        </div>
      </div>
      <footer class="footer is-bottom">
        <div class="content has-text-centered">
          <p>
            <strong>Feed directory</strong> a feed search engine. Currently <strong>{{ feed_number }}</strong> known feeds.          </p>
        </div>
      </footer>
    </body>
    
</html>