{% extends "base.html" %}

{% block content %}
<form class="box">
  <div class="field">
    <p class="control has-icons-left">
      <input class="input" type="text" placeholder="Which feed your are looking for?">
      <span class="icon is-small is-left">
        <i class="fas fa-search"></i>
      </span>
    </p>
  </div>
</form>
{% endblock %}