{% extends "base.html" %}

{% block content %}
<form class="box" method="POST">
  <div class="field">
    <p class="control has-icons-left">
      <input class="input" name="url" type="text" placeholder="Enter a website url or a feed url">
      <span class="icon is-small is-left">
        <i class="fas fa-cloud-upload-alt"></i>
      </span>
    </p>
  </div>
</form>
{% if submission_result %}
<div class="box">
  <ul class="is-info">
{% for r in submission_result %}
  <li>{{ r }}</li>
{% endfor %}
  </ul>
</div>
{% endif %}
{% endblock %}