{% extends "base.html" %}

{% block content %}
<div class="content">
  <h1>Submit an OPML</h1>
  <p>
    In order to help the project and index RSS feeds you can submit an OPML file which contains all the feeds you want to submit.
    RSS feed readers help to generate this file but be careful not sending private feeds (with keys).
  </p>
  <p>
    You can submit a website or feed url alone <a href="/submit/url">here</a>
  </p>
  <p>We are not using specific classification of your OPML and we don't associate feeds your are providing. Each feeds parsed in your OPML is sent individually.</p>
</div>
<div class="box">

<div class="file is-info has-name buttons">
    <form method="POST" action="/submit/opml" enctype="multipart/form-data"> 
  <label class="file-label">
    <input class="file-input" type="file" name="opml_file">
    <span class="file-cta">
      <span class="file-icon">
        <i class="fas fa-upload"></i>
      </span>
      <span class="file-label">
        OPML file
      </span>
    </span>
    <span class="file-name">
      Select an opml file to send
    </span>
    <button class="button is-link">Test</button>
    {% if feeds_from_opml %}
    {% endif %}
  </label>
    </form>
</div>
</div>
{% if feeds_from_opml %}
<div class="box">

<form method="POST" action="/submit/opml"> 
<p>Found {{ feeds_from_opml|length }} feeds
<button class="button is-primary">Submit</button>
</p>
<table class="table is-fullwidth is-narrow">
<thead>
  <th class="has-text-right">Submit</th>
  <th>Feed URL</th>
</thead>
{% for feed in feeds_from_opml %}
<tr>
  <td class="has-text-right">
      <label class="checkbox">
        <input type="checkbox" name="submit_{{ loop.index }}" checked>
      </label>
  </td>
  <td>
    <div class="control">
        <input class="input is-normal" type="text" value="{{ feed }}" name="url_{{ loop.index }}" readonly />
    </div>
  </td>

{% endfor %}
</table>
</form>
</div>
{% endif %}
{% if submission_result %}
<div class="box">
  <ul class="is-info">
{% for r in submission_result %}
  <li>{{ r }}</li>
{% endfor %}
  </ul>
</div>
{% endif %}
{% endblock %}